# Python Virtual Environment
.venv/
__pycache__/
*.pyc

# Datasets and AI Models (These are too large for Git)
datasets/
*.csv
assets/*.task
assets/*.pkl

# Visual Studio & CMake Build Artifacts
.vs/
out/
build/
*.exe
*.dll
*.lib