# Python Virtual Environment
.venv/
__pycache__/
*.pyc

# IDE Configurations (PyCharm / JetBrains / Visual Studio)
.idea/
*.iml
.vs/

# Datasets and AI Models (Too large for Git)
datasets/
*.csv
*.task
*.pkl

# CMake Build Artifacts & Binaries
out/
build/
*.exe
*.dll
*.lib